/**
* @name nav
* @description 
* @author qijianshuang
* @version 2020-11-17 18:42:38 星期二
*/

#nav{
    width: 200px;
    height: 100%;
    background-color: rgb(84, 92, 100);
}
.el-menu-item{
    width: 200px;
}
.el-menu-item .is-disabled{
    width: 200px;
}
.el-submenu{
    width: 200px;
}